<footer class="footer">
    <div class="container footer-wrapper">
        <p>© 2026 All Rights Reserved.</p>

        <p>Reports published monthly</p>
    </div>
</footer>

<style>
.footer{
    padding: var(--spacing-s);
}

.footer-wrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    color: var(--text-muted);
}
</style>
