---
import Logo from "../assets/logo.svg";
---

<header class="header">
  <div class="container">
    <a href="/">
      <Logo class="logo" />
    </a>
  </div>
</header>

<style>
  .header {
    padding: var(--spacing-s);
  }
  .logo {
  }
</style>
